<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <div class='row'>
      <div class='col-md-4'>
        <p>
          ONTRACK ALERT<br /><br />
          {{date}}
          -
          {{time}}<br />
          ID:
          {{id}}<br />
          Event:
          {{eventName}}<br />
          City:
          {{city}}<br />
          Incident Type:
          {{incidentType}}<br />
          Priority:
          {{priority}}<br />
          Status:
          {{status}}<br />
          Division:
          {{divisionNames}}<br />
          Location:
          {{zoneLocation}}<br />
          Location Detail:
          {{locatorCode}}<br />
          Map Location: https://maps.google.com/?q={{latitude}},{{longitude}}<br
          />
          Description:{{description}}<br />
        </p>
      </div>
    </div>
  </body>

</html>