<img
  src='https://st.app.ontracktechgroup.com/assets/img/Condensed-App-Icon-1.svg'
  style='border-radius:50%; height:20%; width: 20%; display:block; margin:0 auto; '
/>

<h4>Hey {{requesteeName}},</h4>
<p>
  <b>Event Request Status</b>
</p>
<p>
  Event Name:
  <b>{{name}}</b>
</p>
<p>
  Event Date:
  <b>{{eventDates}}</b>
</p>
<p>
  Company:
  <b>{{company}}</b>
</p>
<p>
  Message
  <b>{{message}}</b>
</p>
<p>
  If a CAD Map or site Layout was submitted, it will be uploaded next. Once this
  step is completed, a new email will be sent.
</p>

<p>
  Please log into your account to start working on your event!
</p>

<p>
  Best,
</p>
<p>
  OnTrack Team
</p>